<h4 class="m-2">Simple Quiz</h4>

<EditForm Model="quiz" OnValidSubmit="CreateNewSimpleQuiz">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group mx-2 my-3">
        <label class="h6 font-weight-bold">Question</label>
        <br />
        <InputText @bind-Value="quiz.Question" class="col-md-4 form-control" />
    </div>
    <div class="form-group m-2">
        <label class="h6 font-weight-bold">Opinion Question?</label>
        <InputCheckbox @bind-Value="quiz.IsOpinionQuestion" class="" />
    </div>

    <div class="form-group mx-2 my-3">
        <label class="h5 mr-4">Options</label>
        <a href="javascript:;" @onclick="DisplayAddOptionForm">
            Add New
        </a>
        @if (showOptionForm)
        {
            <AddSimpleQuizOptionComponent OnAddOption="@HandleAddOption" />
        }
        else
        {
            <div class="my-2">
                <table class="table">
                    @if (quiz.Options.Count > 0)
                    {
                        <thead>
                            <tr>
                                <th>Text</th>
                                @if (!quiz.IsOpinionQuestion)
                                {
                                    <th>Value</th>
                                }
                                <th></th>
                            </tr>
                        </thead>
                    }
                    <tbody>
                        @foreach (var option in quiz.Options)
                        {
                            <tr>
                                <td>
                                    <label>@option.Text</label>
                                </td>
                                @if (!quiz.IsOpinionQuestion)
                                {
                                    <td>
                                        <a class="@(option.IsAnswer ? "text-success" : "text-danger")" @onclick="() => SetOptionAsCorrectAnswer(option)">
                                            @(option.IsAnswer ? "Correct" : "Wrong")
                                        </a>
                                    </td>
                                }
                                <td>
                                    <a class="btn btn-sm btn-danger text-white" @onclick="() => RemoveOption(option)">Remove</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

    <div class="row mx-2 my-4">
        <button class="btn btn-outline-primary mr-1" @onclick="OnCancelClick">
            Cancel
        </button>
        <button class="btn btn-primary" type="submit">
            Create Quiz
        </button>
    </div>
</EditForm>



