@inject NavigationManager NavMan

<div class="m-2 border p-2 shadow-sm col-md-5">
    <label class="h4 m-2">@Project.Title</label>
    <div>
        <button class="btn btn-outline-primary m-2" @onclick="EditProject">Edit</button>
        <button class="btn btn-outline-primary m-2" @onclick="PreviewProject">Preview</button>
    </div>
</div>

@code {
    [Parameter]
    public ProjectModel Project { get; set; }

    public void EditProject()
    {
        NavMan.NavigateTo($"/projects/{Project.Id}");
    }

    public void PreviewProject()
    {

    }
}
