@inject NavigationManager NavMan

<div class="card m-2 col-md-4">
    <div class="card-body">
        <label class="h4 m-2 card-title">@Project.Title</label>
        <div class="row mx-1">
            <button class="btn btn-primary col m-2" @onclick="EditProject">Edit</button>
            <button class="btn btn-success col m-2" @onclick="PreviewProject">Preview</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ProjectModel Project { get; set; }

    public void EditProject()
    {
        NavMan.NavigateTo($"/projects/{Project.Id}");
    }

    public void PreviewProject()
    {

    }
}
