<div class="card p-2 m-2">
    <div class="row card-body px-3">
        <label class="h4 card-title m-2" @onclick="ExpandCollapse">@Section.Title</label>
        <div class="col text-right">
            <button class="btn btn-outline-primary m-2" @onclick="AddBlock">Add Block</button>
            <button class="btn btn-outline-primary m-2" @onclick="PreviewSection">Preview</button>
        </div>
    </div>
    @if (isExpanded)
    {
        @if (ActiveBlocks.Count > 0)
        {
            @foreach (var block in ActiveBlocks.OrderBy(x => x.OrderNo))
            {
                <div class="m-2 row">
                    <label class="h5 mt-2 pt-2">@block.DisplayTitle</label>
                    <div class="col text-right">
                        @switch (block.Type)
                        {
                            case Enums.BlockTypes.SimpleQuiz:
                                <label class="btn-info btn-sm px-2">Quiz</label>
                                break;
                            case Enums.BlockTypes.MatchQuiz:
                                <label class="btn-dark btn-sm px-2">Match Quiz</label>
                                break;
                            case Enums.BlockTypes.Video:
                                <label class="btn-warning btn-sm px-2">Video</label>
                                break;
                            default:
                                break;
                        }

                        <a href="javascript:;" class="hvr-icon-fade hvr-grow">
                            <i class="fas fa-pen hvr-icon m-2" @onclick="AddBlock"></i>
                        </a>
                        <a href="javascript:;" class="hvr-icon-fade hvr-grow">
                            <i class="fas fa-eye hvr-icon hvr-grow m-2" @onclick="() => PreviewBlock(block)"></i>
                        </a>
                        <a href="javascript:;" class="hvr-icon-fade hvr-grow">
                            <i class="fas fa-arrow-up hvr-icon m-2" @onclick="() => MoveUp(block)"></i>
                        </a>
                        <a href="javascript:;" class="hvr-icon-fade hvr-grow">
                            <i class="fas fa-arrow-down hvr-icon m-2" @onclick="() => MoveDown(block)"></i>
                        </a>
                        <a href="javascript:;" class="hvr-icon-fade hvr-grow">
                            <i class="fas fa-trash hvr-icon m-2" @onclick="() => DeleteBlock(block)"></i>
                        </a>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="m-2 row">
                <label>No blocks yet...</label>
            </div>
        }
    }

</div>