<h3>SimpleQuizComponent</h3>

<p class="font-weight-bold h4">
    @Quiz.Question
</p>

@foreach (var option in Quiz.Options)
{
    <div class="m-2">
        <label>@option.Text</label>
    </div>
}

@code {
    [Parameter]
    public SimpleQuizModel Quiz { get; set; }
}
