<h3 class="m-2">@Video.Title</h3>

@if (Video.VideoUrl is not null)
{
    <iframe width="560" height="315" src="@Video.VideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
}


@code {
    [Parameter]
    public VideoModel Video { get; set; }
}
