@page "/projects/view/{OrderNo:int}/"

@if (ready)
{
    @if (isPreviewOne)
    {
        <h2 class="m-2">Preview</h2>
    }

    @if (blockToDisplay is not null)
    {
        
        @blockToDisplay.Display()
    }

    @if (!isPreviewOne)
    {
        <div class="row mx-2 my-4">
            @if (!(OrderNo <= Content.SectionContent.Min(x => x.OrderNo)))
            {
                <button class="btn btn-primary mr-1" @onclick="ReturnToPreviousBlock">
                    Previous
                </button>
            }

            @if (!(OrderNo >= Content.SectionContent.Max(x => x.OrderNo)))
            {
                <div class="col text-right">
                    <button class="btn btn-success" @onclick="AdvanceToNextBlock">
                        Continue
                    </button>
                </div>

            }
        </div>
    }
}



