@page "/projects/view/{OrderNo:int}/"

@if (ready)
{
    @if (isPreviewOne)
    {
        <h2 class="m-2">Preview</h2>
    }

    @if (blockToDisplay is not null)
    {
        switch (blockToDisplay)
        {
            case SimpleQuizModel simpleQuiz:
                <SimpleQuizComponent Quiz="simpleQuiz" />
                break;
            case MatchQuizModel matchQuiz:
                <MatchQuizComponent Quiz="matchQuiz" />
                break;
            case VideoModel video:
                <VideoComponent Video="video" />
                break;
            default:
                break;
        }
    }

    @if (!isPreviewOne)
    {
        <div class="row mx-2 my-4">
            @if (!(OrderNo <= BlockData.Blocks.Min(x => x.OrderNo)))
            {
                <button class="btn btn-primary mr-1" @onclick="ReturnToPreviousBlock">
                    Previous
                </button>
            }

            @if (!(OrderNo >= BlockData.Blocks.Max(x => x.OrderNo)))
            {
                <div class="col text-right">
                    <button class="btn btn-success" @onclick="AdvanceToNextBlock">
                        Continue
                    </button>
                </div>

            }
        </div>
    }
}



