@using Microsoft.Extensions.Logging
@inject ILogger<Index> Log

@page "/"

<h1>Hello, world!</h1>

<SimpleQuizComponent Quiz="@testQuiz" />


@code{
    private SimpleQuizModel testQuiz = new SimpleQuizModel
    {
        Question = "What is the color of love?",
        Options = new List<SimpleQuizOptionModel>
    {
            new SimpleQuizOptionModel
            {
                Text = "White"
            },
            new SimpleQuizOptionModel
            {
                Text = "Red"
            },
            new SimpleQuizOptionModel
            {
                Text = "Blue"
            }
        }
    };

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
