@using Microsoft.Extensions.Logging
@inject ProjectDataService ProjectData
@inject NavigationManager NavMan

@page "/"
<div class="container-fluid">
    @if (publishedProjects is not null)
    {
        <h3>Published Courses</h3>

        <div class="row mt-3 mx-auto">
            @foreach (var project in publishedProjects)
            {
                <div class="col-sm-12 col-md-5 col-xl-3 rounded border shadow-sm p-0 m-2">
                    <a href="javascript:;" class="card-link text-dark p-0" @onclick="() => ViewProject(project.Id)">
                        <ImageComponent SearchTerm="@project.Title.Substring(0, 1)" />
                        <div class="p-3">
                            <h4>@project.Title</h4>
                            <p>@project.Description</p>
                        </div>
                    </a>
                </div>
            }
        </div>

    }
</div>

@code{
        private List<ProjectModel> publishedProjects;

        protected override async Task OnInitializedAsync()
        {
            publishedProjects = await ProjectData.GetPublishedProjects();
        }

        private void ViewProject(int projectId)
        {
            NavMan.NavigateTo($"courses/{projectId}/view");
        }
}
