@using Microsoft.Extensions.Logging
@inject ILogger<Index> Log

@page "/"

<h1>Welcome to Course Creator</h1>


@code{


    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
