@page "/projects/{ProjectId:int}/{SectionId:int}/{OrderNo:int}/add-new-block"

<h3 class="m-2">Add New Block</h3>

<div class="row mb-3">
    <div class="col-5">
        <EditForm Model="selectedBlockType">
            <InputSelect @bind-Value="selectedBlockType" class="form-control">
                @foreach (var instance in AvailableBlockTypes)
                {
                    <option value="@instance.ContentType">@instance.ContentType</option>
                }
            </InputSelect>
        </EditForm>
    </div>
</div>

@if (BlockType is not null)
{
    @BlockType.AddComponent(Parameters)
}
