@page "/projects/{ProjectId:int}/{SectionId:int}/{OrderNo:int}/add-new-block"

<h3 class="m-2">Add New Block</h3>

<AddSimpleQuizComponent ProjectId="@ProjectId" SectionId="@SectionId" OrderNo="OrderNo"/>