@page "/projects/{BlockId:int}/{BlockType:int}/preview"

<h2 class="m-2">Preview</h2>
@if (ready)
{
    @switch (BlockType)
    {
        case Enums.BlockTypes.SimpleQuiz:
            if (quizBlock is not null)
            {
                <SimpleQuizComponent Quiz="quizBlock" />
            }
            break;
        case Enums.BlockTypes.MatchQuiz:
            if (matchQuizBlock is not null)
            {
                <MatchQuizComponent Quiz="matchQuizBlock" />
            }
            break;
        case Enums.BlockTypes.Video:
            if (video is not null)
            {
                <VideoComponent Video="video" />
            }
            break;
        default:
            break;
    }
}


