@page "/projects"

<div class="container">
    <h2 class="m-2">Projects</h2>

    <div class="text-right">
        <button class="btn btn-primary" @onclick="NewProject">New Project</button>
    </div>


    @if (projects is not null)
    {
        <div class="row">
            @foreach (var project in projects)
            {

                <ProjectComponent Project="@project" />

            }
        </div>
    }
    else
    {
        <label class="font-italic">Loading...</label>
    }
</div>

