@page "/projects"
@attribute [Authorize(Roles = "Instructor")]
<div class="">
    <div class="d-flex mb-2">
        <h2 class="mt-2">Projects</h2>

        <div class="ml-auto">
            <button class="btn themecolorlight text-white" @onclick="NewProject">New Project</button>
        </div>
    </div>

    <table class="sortable table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Status
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @if (projects is not null)
            {
                @foreach (var project in projects)
                {
                    <tr>
                        <td>
                            <a class="text-success font-weight-bold h6" href="javascript:;" @onclick="() => EditProject(project.Id)">
                                @project.Title
                            </a>
                        </td>
                        <td>
                            @if (project.IsPublished)
                            {
                                <label class="badge badge-success">PUBLISHED</label>
                            }
                            else
                            {
                                <label class="badge badge-warning">DRAFT</label>
                            }
                        </td>
                        <td>
                            <div class="d-flex">
                                <button class="btn btn-sm btn-outline-success" @onclick="PreviewProject">Preview</button>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        <label class="font-italic">Loading...</label>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>



