@page "/projects"

<h2>Projects</h2>

<button class="btn btn-primary" @onclick="NewProject">New Project</button>

@if (projects is not null)
{
    @foreach (var project in projects)
    {
        <label class="m-2">@project.Title</label>
    }
}
else
{
    <label class="font-italic">Loading...</label>
}
