@page  "/projects/{ProjectId:int}"

@if (notFound)
{
    <h4>Project Not Found</h4>
}
else
{
    @if (project is not null)
    {
        <h2 class="m-2">@project.Title</h2>

        <div class="col text-right">
            <button class="btn btn-primary mr-2" @onclick="NewSection">Add Section</button>

            @if (project.IsPublished)
            {
                <button class="btn btn-secondary" @onclick="UnpublishProject">Unpublish Project</button>
            }
            else
            {
                <button class="btn btn-success" @onclick="PublishProject">Publish Project</button>
            }
        </div>


        @if (sections is not null)
        {
            @foreach (var section in sections)
            {
                <SectionComponent Section="@(section)" ProjectId="@ProjectId"/>
                <hr />
            }
        }
    }
    else
    {
        <label class="font-italic">Loading...</label>
    }
}


